*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input {
    outline: none;
    border:none;
    background-image:none;
    background-color:transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; 
}

:root {
    --main-color: #1E1F27;
    --second-color: #2A2C35;

    --font-color: #CFD2E3;
    --font-gray-color: #777B8E;
    --font-warning-color: #FF7549;
    --font-white-color: rgb(255, 255, 255);

    --accent-color: #855AFF;
}