.Button {
    padding: 6px 16px;
    width: 300px;
    height: 40px;
    border-radius: 4px;
    cursor: pointer;
}

.filled {
    background: var(--accent-color);
    border: none;
    outline: none;
}

.clear {
    border: none;
    outline: none;
    background: transparent;
}

.disabled {
    opacity: 0.5;
    cursor: default;
}
