.block{
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.inputs{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.buttons{
    display: flex;
    flex-direction: column;
    gap: 9px;
}